                    <div id="container01" class="container columns full screen">
                        <div class="wrapper">
                            <div class="inner">
                                <div>
                                    <p id="text06">
                                        <a href="javascript:_first();">TA<mark>RANG</mark></a>
                                    </p>
                                </div>
                                <span></span>
                                <div>
                                    <ul id="buttons01" class="buttons">
                                        <li><a href="components/latest_edition.html" class="button n01">Read LATEST Edition</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

