<!DOCTYPE html>
<head>

<meta charset="UTF-8">
<title>Tarang Magazine</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Digital Magazine on Indian Art, Culture and Values | Sanskriti Foundation">
</head>
<body>
<div id="header"></div>
<div style="position:relative;padding-top:max(60%,326px);height:0;width:100%"><iframe sandbox="allow-top-navigation allow-top-navigation-by-user-activation allow-downloads allow-scripts allow-same-origin allow-popups allow-modals allow-popups-to-escape-sandbox" allowfullscreen="true" style="position:absolute;border:none;width:100%;height:100%;left:0;right:0;top:0;bottom:0;" src="https://e.issuu.com/embed.html?backgroundColor=%23b498e4&d=edition_5_-_issuu&hideIssuuLogo=true&u=tarangmagazine"></iframe></div>
</body>
<div id="footer"></div>
</html>
